/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define BASE    0
#define FNAV    1

/ {
    combos {
        compatible = "zmk,combos";
        combo_BOOT {
            timeout-ms = <50>;
            key-positions = <5 6 7 8>;
            bindings = <&bootloader>;
        };
    }

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
                &kp GRAVE    &kp N1     &kp N2    &kp N3    &kp N4     &kp N5                           &kp N6     &kp N7     &kp N8     &kp N9    &kp N0     &kp SQT
                &kp ESC      &kp Q      &kp W     &kp E     &kp R      &kp T                            &kp Y      &kp U      &kp I      &kp O     &kp P      &kp BSPC
                &kp LCTL     &kp A      &kp S     &kp D     &kp F      &kp G          &kp BSLH          &kp H      &kp J      &kp K      &kp L     &kp SEMI   &kp RET
                &kp LSHIFT   &kp Z      &kp X     &kp C     &kp V      &kp B                            &kp N      &kp M      &kp COMMA  &kp DOT   &kp SLASH  &kp RSHIFT
                                                  &kp LALT  &mo FNAV   &kp SPACE  &kp MINUS  &kp EQUAL  &kp SPACE  &mo FNAV   &kp LGUI
                >;
        };

        fun_nav {
            bindings = <
                &kp TILDE  &kp EXCL  &kp AT   &kp HASH  &kp DLLR  &kp PRCNT                             &kp CARET  &kp AMPS   &kp ASTRK  &kp LPAR   &kp RPAR        &kp DQT
                &trans     &kp F1    &kp F2   &kp F3    &kp F4    &kp LBRC                              &kp RBRC   &kp HOME   &kp UP     &kp END    &kp PG_UP       &kp DEL
                &trans     &kp F5    &kp F6   &kp F7    &kp F8    &kp LPAR          &kp C_MUTE          &kp RPAR   &kp LEFT   &kp DOWN   &kp RIGHT  &kp PG_DN       &kp INS
                &trans     &kp F9    &kp F10  &kp F11   &kp F12   &kp LBKT                              &kp RBKT   &kp K_APP  &kp PRCNT  &kp SLCK   &kp PAUSE_BREAK &trans
                                              &trans    &none     &kp TAB   &kp C_VOL_DN  &kp C_VOL_UP  &kp TAB    &none      &trans
                >;
        };
    };
};
